QLineEdit {
    border-radius: 15%;
    padding: 10%;
    background: #F4F0F9;
    selection-background-color: rgb(161, 132, 170);
}

QLineEdit:disabled {
    border-radius: 15%;
    padding: 10%;
    background: #cfcfcf;
}

QLineEdit:hover {
    border-radius: 15%;
    padding: 10%;
    background: #eae5ee;
    selection-background-color: rgb(161, 132, 170);
}